  <!-- 系统提醒 -->
  <div id="sys_notify">
    <!-- <button class="close">X</button> -->
    <span class="msg"></span>
  </div>

  <script>
    var resizefunc = [];
  </script>

  <!-- jQuery  -->
  <script src="third/js/jquery.min.js"></script>
  <script src="third/js/bootstrap.min.js"></script>
  <script src="third/js/detect.js"></script>
  <script src="third/js/jquery.slimscroll.js"></script>
  <script src="third/js/jquery.blockUI.js"></script>
  <script src="third/js/waves.js"></script>
  <script src="third/js/wow.min.js"></script>
  <script src="third/js/jquery.scrollTo.min.js"></script>

  <script src="js/query-string.js"></script>
  <script src="js/util.js"></script>
  <script src="js/app.js"></script>
  <script src="third/js/jquery.core.js"></script>
  <script src="third/js/jquery.app.js"></script>
