<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>问答社区</title>
    <link rel="stylesheet" href="http://graduation.b0.upaiyun.com/assets/css/semantic.min.css">
    <link rel="stylesheet" href="http://graduation.b0.upaiyun.com/assets/css/semantic-calendar.min.css">
    <link rel="stylesheet" href="http://graduation.b0.upaiyun.com/assets/css/simplemde.min.css">
    <link rel="stylesheet" href="http://graduation.b0.upaiyun.com/assets/css/github.min.css">
    <link rel="stylesheet" href=".http://graduation.b0.upaiyun.com/assets/css/jquery.Jcrop.min.css">

    <link rel="stylesheet" href="./app.css">
</head>
<body>
<div id="app"></div>

<script src="http://graduation.b0.upaiyun.com/assets/jquery.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/vue.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/vue-router.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/vue-resource.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/semantic.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/semantic-calendar.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/jquery.Jcrop.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/marked.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/highlight.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/simplemde.min.js"></script>
<script src="http://cdn.bootcss.com/socket.io/1.4.5/socket.io.min.js"></script>
<script src="dist/build.js"></script>

</body>
</html>

