<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>问答社区</title>

    <link rel="stylesheet" href="http://graduation.b0.upaiyun.com/assets/css/semantic.min.css">
    <link rel="stylesheet" href="http://graduation.b0.upaiyun.com/assets/css/semantic-calendar.min.css">
    <link rel="stylesheet" href="http://graduation.b0.upaiyun.com/assets/css/simplemde.min.css">
    <link rel="stylesheet" href="http://graduation.b0.upaiyun.com/assets/css/github.min.css">
    <link rel="stylesheet" href=".http://graduation.b0.upaiyun.com/assets/css/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="/frontend/app.css">
    <!-- <link href="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./app.css">
    <link href="http://cdn.bootcss.com/simplemde/1.10.0/simplemde.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/highlight.js/9.2.0/styles/github.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/jquery-jcrop/0.9.12/css/jquery.Jcrop.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/frontend/vendor/css/semantic-calendar.min.css"> -->

</head>
<body>
<div id="app"></div>
<script src="http://graduation.b0.upaiyun.com/assets/jquery.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/vue.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/vue-router.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/vue-resource.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/semantic.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/semantic-calendar.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/jquery.Jcrop.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/marked.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/highlight.min.js"></script>
<script src="http://graduation.b0.upaiyun.com/assets/simplemde.min.js"></script>
<!-- <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
<script src="http://cdn.bootcss.com/vue/1.0.17/vue.min.js"></script>
<script src="http://cdn.bootcss.com/vue-router/0.7.11/vue-router.min.js"></script>
<script src="http://cdn.bootcss.com/vue-resource/0.7.0/vue-resource.min.js"></script>

<script src="http://cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
<script src="http://cdn.bootcss.com/simplemde/1.10.0/simplemde.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-jcrop/0.9.12/js/jquery.Jcrop.min.js"></script> -->
<script src="/frontend/dist/build.js"></script>

</body>
</html>

