<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>问答社区</title>

    <link rel="stylesheet" href="/frontend/vendor/css/semantic.min.css">
    <link rel="stylesheet" href="/frontend/vendor/css/semantic-calendar.min.css">
    <link rel="stylesheet" href="/frontend/vendor/css/simplemde.min.css">
    <link rel="stylesheet" href="/frontend/vendor/css/github.min.css">
    <link rel="stylesheet" href="./frontend/vendor/css/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="/frontend/app.css">
</head>
<body>
<div id="app"></div>
<script src="/frontend/vendor/jquery.min.js"></script>
<script src="/frontend/vendor/vue.min.js"></script>
<script src="/frontend/vendor/vue-router.min.js"></script>
<script src="/frontend/vendor/vue-resource.min.js"></script>
<script src="/frontend/vendor/semantic.min.js"></script>
<script src="/frontend/vendor/semantic-calendar.min.js"></script>
<script src="/frontend/vendor/jquery.Jcrop.min.js"></script>
<script src="/frontend/vendor/marked.min.js"></script>
<script src="/frontend/vendor/highlight.min.js"></script>
<script src="/frontend/vendor/simplemde.min.js"></script>
<script src="/frontend/dist/build.js"></script>

</body>
</html>

