/* msg */

#sys_notify {
  box-shadow: 2px 2px 7px #5E8E59;
  text-align: center;
  line-height: 40px;
  position: fixed;
  height: auto;
  min-width: 300px;
  margin-top:-50px;
  top: 0;
  left:50%;
  margin-left: -150px;
  z-index: 9999;
  background-color: #62B45A;
  border-radius: 2px;
  color: #fff;
  transition: margin ease-in-out .2s;
}

.pagination {
  margin: 5px 0;
}
.page-nav, .go-page {
  margin: 0 15px;
}
.pagination .btn {
  padding: 4px 6px;
}
.pagination .page-num {
  display: inline-block;
  vertical-align: middle;
  padding: 0 3px;
}
.pagination .go-page input{
  border: 1px solid #eaeaea;
  border-radius: 3px;
  padding: 4px 12px;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
}
